<?xml version="1.0" encoding="utf-8"?>
<manifest 
		xmlns:android="http://schemas.android.com/apk/res/android"
      	package="info.ericyue.es"
      	android:versionCode="1"
      	android:versionName="0.982"
      	
      	>

  <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
     <uses-permission android:name="android.permission.WRITE_CONTACTS" />
 	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
 	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
 	<uses-permission android:name="android.permission.INTERNET" />
  
  <supports-screens android:xlargeScreens="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true"
                    android:anyDensity="true"/>
                    
  <uses-feature android:name="android.hardware.camera"/>
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-sdk android:maxSdkVersion="19" android:minSdkVersion="15" android:targetSdkVersion="17"/>
  
<application android:icon="@drawable/huochacha" 
		     android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar">
       <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zzwH5cTpfbqXNG2u45aoH0uo" />
      
        <activity android:name=".activity.LoginActivity" 
      			  android:screenOrientation="portrait"
      			  android:label="货查查">

                  	  <intent-filter>
        		    	<action android:name="android.intent.action.MAIN"/>
       			    	<category android:name="android.intent.category.LAUNCHER"/>
    			  </intent-filter>  		           
        </activity>
        
        <activity android:name=".activity.ExpressSensor"
               	  android:screenOrientation="portrait"   
               	  android:label="Express Sensor">

               	       
        </activity>
		 <activity android:name=".activity.PushActivity"
               	  android:screenOrientation="portrait"   
               	  android:label="PushActivity">

               	       
        </activity>
        <activity android:name=".activity.SetCargoRemind"
               	  android:screenOrientation="portrait"   
               	  android:label="SetCargoRemind">

               	       
        </activity>
         <activity android:name=".activity.SetChaufferRemind"
               	  android:screenOrientation="portrait"   
               	  android:label="SetChaufferRemind">

               	       
        </activity>

        
        <activity android:name=".activity.About"
         		android:screenOrientation="portrait" 	 android:label="about">     
        </activity>
        <activity android:name=".activity.ChaufferRemindItems"
         		android:screenOrientation="portrait" 	 android:label="ChaufferRemindItems">     
        </activity>
        <activity android:name=".activity.ChauffeurDetail"
         		android:screenOrientation="portrait" 	 android:label="ChauffeurDetail">
                  	       
        </activity>
        <activity android:name=".activity.CargoRemindItems"
         		android:screenOrientation="portrait" 	 android:label="CargoRemindItems">     
        </activity>
        
        <activity android:name=".activity.ExpressDelivery"
          	android:screenOrientation="portrait" 		android:label="expressdelivery">
        </activity>  			
    	<activity android:name=".activity.SettingsActivity"
          	android:screenOrientation="portrait" 		android:label="settings">
        </activity>
        <activity
            android:name=".activity.ChauffeurInfo"
            android:label="ChauffeurInfo"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.CarInfo"
            android:label="CarInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CarDetail"
            android:label="CarDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ManagerHuoyuan"
            android:label="ManagerHuoyuan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ManagerCheyuan"
            android:label="ManagerCheyuan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CargoInfoSearch"
            android:label="CargoInfoSearch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CarInfoSearch"
            android:label="CarInfoSearch"
            android:screenOrientation="portrait" >
        </activity>
        
      
    	 <activity android:name=".activity.CargoUserRegist"
         		android:screenOrientation="portrait" 	 android:label="CargoUserRegist">     
        </activity>
        <activity android:name=".activity.CarOwnerRegist"
         		android:screenOrientation="portrait" 	 android:label="CarOwnerRegist">     
        </activity>
        <activity android:name=".activity.CargoRelease"
         		android:screenOrientation="portrait" 	 android:label="CargoRelease">     
        </activity>
        
        <activity android:name=".activity.CargoInfo"
         		android:screenOrientation="portrait" 	 android:label="CargoInfo">     
        </activity>
        <activity android:name=".activity.CargoDetail"
         		android:screenOrientation="portrait" 	 android:label="CargoDetail">     
        </activity>
        <activity android:name=".activity.CarRelease"
         		android:screenOrientation="portrait" 	 android:label="CarRelease">     
        </activity>
         <activity android:name=".activity.ChauffeurRelease"
         		android:screenOrientation="portrait" 	 android:label="ChauffeurRelease">     
        </activity>
        <activity android:name=".activity.ChauffeurSearch"
         		android:screenOrientation="portrait" 	 android:label="ChauffeurSearch">     
        </activity>
         <activity android:name=".activity.ChauffeurManager"
         		android:screenOrientation="portrait" 	 android:label="ChauffeurManager">     
        </activity>
        
        
        <activity android:name=".activity.DriverRegist"
         		android:screenOrientation="portrait" 	 android:label="DriverRegist">     
        </activity>
    
        <activity android:name=".activity.WorkStatistics"
          	android:screenOrientation="portrait" 		android:label="workstatistics">     
          	
       
          	
        </activity> 

        <activity android:name=".activity.GlobalInfo"
          	android:screenOrientation="portrait" 		android:label="globalinfo">  
        </activity>
        
  		
        <activity android:name=".activity.TraceRecord"
          	android:screenOrientation="portrait" 		android:label="tracerecord">  
          	
   
        </activity>
 
 	       <activity android:name=".activity.Detail"
          	android:screenOrientation="portrait" 		android:label="detail">  
        </activity>
 	    <activity android:name=".zxing.client.android.CaptureActivity"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden">

      			<intent-filter>
      			  <action android:name="info.ericyue.es.zxing.client.android.SCAN"/>
       				 <category android:name="android.intent.category.DEFAULT"/>
     				 </intent-filter>
      <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
     			 <intent-filter>
    			    <action android:name="android.intent.action.VIEW"/>
    		    <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="http" android:host="zxing.appspot.com" android:path="/scan"/>
		      </intent-filter>
		      <!-- We also support a Google Product Search URL. -->
		      <intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <category android:name="android.intent.category.BROWSABLE"/>
		        <data android:scheme="http" android:host="www.google.com" android:path="/m/products/scan"/>
		      </intent-filter>
		      <!-- And the UK version. -->
		      <intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <category android:name="android.intent.category.BROWSABLE"/>
		        <data android:scheme="http" android:host="www.google.co.uk" android:path="/m/products/scan"/>
		      </intent-filter>
    </activity>
    <activity android:name=".zxing.client.android.PreferencesActivity"
              android:label="@string/preferences_name">
    </activity>
    <activity android:name=".zxing.client.android.encode.EncodeActivity">
      <intent-filter>
        <action android:name="info.ericyue.es.zxing.client.android.ENCODE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <!-- This allows us to handle the Share button in Contacts. -->
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/x-vcard"/>
      </intent-filter>
      <!-- This allows us to handle sharing any plain text . -->
      <intent-filter> 
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>
    <activity android:name=".zxing.client.android.book.SearchBookContentsActivity"
              android:label="@string/sbc_name"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden">
      <intent-filter>
        <action android:name="info.ericyue.es.zxing.client.android.SEARCH_BOOK_CONTENTS"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
   <service android:name=".activity.LocationService" android:exported="true" android:process=":location" ></service>
    <service android:name=".activity.TraceRecordService" android:exported="true" android:process=":tracerecord" ></service>
    <service android:name=".activity.PushService" android:exported="true" android:process=":pushservice" ></service>
    <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"  >
        
			
		</service>
    </application>
</manifest>